<!-- views/403.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>403 Forbidden</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        text-align: center;
    }
</style>
</head>
<body>
    <div class="container">
        <h1 class="display-1">403</h1>
        <p class="lead" style="font-weight: 700;color: black;font-size: 50px    ;">FORBIDDEN.</p>
        <img src="../public/image/403.jpg" style="width: 100px;">
        <p class="lead" style="font-weight: 400;"><br>You dont have permission to access what you want</p>
        <a href="/">  <button type="button" class="btn btn-info" >Sign in to have one</button></a> 

    </div>
    <!-- Include Bootstrap JS (optional, for additional features like modals) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
