<!-- views/500.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="display-1">500</h1>
        <img src="../public/image/500.jpg" style="width: 100px;">
        <p class="lead"><br>Oops! Your code is broken, we (may) gonna fix soon.</p>
        <p class="lead"> Wanna go back ?</p>
        <a href="/">  <button type="button" class="btn btn-info" >Yes sir</button></a> 
    </div>
    <!-- Include Bootstrap JS (optional, for additional features like modals) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
